*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid rgb(2, 96, 65);
    border-radius: 8px;
    margin-top: 20px;

}
.container h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(5, 250, 168);
}
p{
    margin-bottom: 10px;
    width: 100%;
}
.lable{
    text-align: right;
    width: 80px;
    float: left;
    padding-right: 5px;
}
p input{
    width: 290px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 8px;
}
p button{
    display: inline-block;
    width: 60px;
    padding: 5px;
    margin-left: 6px;
    color: white;
    background-color: rgb(3, 128, 26);
}
.btn{
    width: 60px;
    line-height: 20px;
    margin-left: 12px;
    background-color: aquamarine;
    border-radius: 50px;
    border: 2px solid white;
    font-weight: bold;
    padding: 3px 7px;
}
#log{
    text-align: center;
    font-style: italic;
    color: red;
    line-height: 20px;
}
