*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shop{
    border-bottom: 1px solid black;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 20px;
}
.menu li{
    padding-inline: 15px;
}
.fa-thin{
    transform: rotateY(180deg);
    padding-top: 20px;
    font-size: 20px !important;
}
.Cart{
    padding-top: 10px;
    display: flex;
}
.Cart img{
    width: 30px;
    height: 30px;
}
.Cart p{
    padding-top: 10px;
}
.dong1{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    padding-right: 81%;
}
.dong2{
    font-size: 11px;
    padding-bottom: 50px;
    font-family: "Quicksand", sans-serif;
    padding-right: 77%;
}
/* Featured */
.Featured{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    margin: 30px;
    text-align: center;
    width: 90%;
    position: relative;
    font-size: 15px;
}
.Featured img{
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
}
.Featured_Items{
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.billing{
    width: 90%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cahai{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.name{
    display: flex;
    text-align: left;
    font-size: 12px;
}
.name form{
    padding-right: 40px;
}
.name input{
    width: 230px;
    height: 20px;
}
.name p{
    padding-block: 5px;
}
.address{
    text-align: left;
    font-size: 12px;
}
.address input{
    width: 500px;
    height: 20px;
}
.address p{
    padding-block: 5px;
}
.place-order{
    width: 90%;
    text-align: left;
    padding-block: 50px;
}
.order{
    width: 150px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.place{
    padding: 10px;
    text-align: center;
}
.bentrai{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.benphai{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    font-size: 12px;
}
.badong{
    border-bottom: 1px solid black;
    padding-block: 10px;
}
.badong img{
    padding-left: 10px;
    padding-top: 10px;
}
/* the end */
.footer{
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: #eee;
    text-align: left;
    padding-block: 30px;
    margin-bottom: 90px;
    color: gray;
    font-family: "Quicksand", sans-serif;
}
h3{
    padding-bottom: 10px;
    color: black;
}
.footer li{
    padding-bottom: 5px;
}